<nav class="navbar_container">
    <div class="navbar_container__container-logo">
        <img src="../../../../public/assets/public/img/logo_app_mec.png" alt="logo app mecânica" class="img_logo_estudaki">
    </div>
    <ul>
        <li routerLink="/" routerLinkActive="active" class="menu-principal">Home</li>
        <li class="menu-principal">
            Material de estudo
            <ul class="submenu">
                <li><a routerLink="/mtexto" routerLinkActive="active">Material Textual</a></li>
                <li><a routerLink="/exes" routerLinkActive="active">Exercícios</a></li>
                <li><a routerLink="/galeria" routerLinkActive="active">Galeria</a></li>
            </ul>
        </li>
    </ul>
    <button class="btn-signin">SignIn</button>
</nav>
