<app-navbar></app-navbar>
<section class="container_material-textual">
    <section class="container_material-textual__secao-basic">
        <div class="container_material-textual__secao-basic__left">
            <div class="icon_material_basic" (click)="openModal('conceitos_base', 1)">CONCEITOS BASE</div>
            <div class="icon_material_basic" (click)="openModal('Polimeros', 2)">POLIMEROS</div>
            <div class="icon_material_basic" (click)="openModal('CURIOSIDADES', 3)">CURIOSIDADES</div>
            <div class="icon_material_basic" (click)="openModal('Ensaios', 4)">ENSAIOS</div>
        </div>
        <div class="container_material-textual__secao-basic__right">
            <span>Fica Tranquilo aluno  meu nome é Marcio e estou aqui para te ajudar a aprender sobre Mecânica dos Sólidos.</span>
            <figure>
                <img src="../../../../public/assets/public/img/material_textual/prof_marcio_1.png" alt="professor Dr. Mardio desenho">
                <figcaption>Imagem do professor Dr. Marcio</figcaption>
            </figure>
        </div>
    </section>
    <section class="container_material-textual__secao-medium">
        <div class="container_material-textual__secao-medium__left">
            <span>Fiquem com coração tranquilo, o conteúdo é externo mas fácil de entender.</span>
            <figure>
                <img src="../../../../public/assets/public/img/material_textual/prof_marcio_2.png" alt="professor Dr. Mardio desenho">
                <figcaption>Imagem do professor Dr. Marcio</figcaption>
            </figure>
        </div>
        <div class="container_material-textual__secao-medium__right">
            <div class="icon_material_medium" (click)="openModal('Tensão Aplicada', 5)">TENSÃO</div>
            <div class="icon_material_medium" (click)="openModal('Tração', 6)">TRAÇÃO</div>
            <div class="icon_material_medium" (click)="openModal('Compressão', 7)">COMPRESSÃO</div>
            <div class="icon_material_medium" (click)="openModal('Cisalhamento', 8)">CISALHAMENTO</div>
        </div>
    </section>
    <section class="container_material-textual__secao_hard">
        <div class="container_material-textual__secao_hard__left">
            <div class="icon_material_hard" (click)="openModal('Torção', 9)">TORÇÃO</div>
            <div class="icon_material_hard" (click)="openModal('Flexão', 10)">FLEXÃO</div>
            <div class="icon_material_hard" (click)="openModal('Tensão Hidrostática', 11)">Tensão Hidrostática</div>
            <div class="icon_material_hard" (click)="openModal('Bônus', 12)">Bônus</div>
        </div>
        <div class="container_material-textual__secao_hard__right">
            <span>Bora mandar ver na matéria, um pouco de empenho e tudo se resolve.</span>
            <figure>
                <img src="../../../../public/assets/public/img/material_textual/prof_marcio_3.png" alt="professor Dr. Mardio desenho">
                <figcaption>Imagem do professor Dr. Marcio</figcaption>
            </figure>
        </div>
    </section>
</section>
<app-footer></app-footer>