<app-navbar></app-navbar>
<section class="container_material-textual">
    <section class="container_material-textual__secao-basic">
        <div class="container_material-textual__secao-basic__left">
            <div class="icon_material_basic" (click)="openModal('conceitos_base')">CONCEITOS BASE</div>
            <div class="icon_material_basic" (click)="openModal('conceitos_base')"></div>
            <div class="icon_material_basic" (click)="openModal('conceitos_base')">POLIMEROS</div>
            <div class="icon_material_basic" (click)="openModal('conceitos_base')">ENSAIOS</div>
        </div>
        <div class="container_material-textual__secao-basic__right">
            <span>Fica Tranquilo aluno  meu nome é Marcio e estou aqui para te ajudar a aprender sobre Mecânica dos Sólidos.</span>
            <figure>
                <img src="/assets/public/img/material_textual/prof_marcio_1.png" alt="professor Dr. Mardio desenho">
                <figcaption>Imagem do professor Dr. Marcio</figcaption>
            </figure>
        </div>
    </section>
    <section class="container_material-textual__secao-medium">
        <div class="container_material-textual__secao-medium__left">
            <span>Fiquem com coração tranquilo, o conteúdo é externo mas fácil de entender.</span>
            <figure>
                <img src="/assets/public/img/material_textual/prof_marcio_2.png" alt="professor Dr. Mardio desenho">
                <figcaption>Imagem do professor Dr. Marcio</figcaption>
            </figure>
        </div>
        <div class="container_material-textual__secao-medium__right">
            <div class="icon_material_medium" (click)="openModal('conceitos_base')">TRAÇÃO</div>
            <div class="icon_material_medium" (click)="openModal('conceitos_base')">COMPRESSÃO</div>
            <div class="icon_material_medium" (click)="openModal('conceitos_base')">CISALHAMENTO</div>
            <div class="icon_material_medium" (click)="openModal('conceitos_base')">TORÇÃO</div>
        </div>
    </section>
    <section class="container_material-textual__secao_hard">
        <div class="container_material-textual__secao_hard__left">
            <div class="icon_material_hard" (click)="openModal('conceitos_base')">FLEXÃO</div>
            <div class="icon_material_hard" (click)="openModal('conceitos_base')">TENSÃO HIDROSTÁTICA</div>
            <div class="icon_material_hard" (click)="openModal('conceitos_base')"></div>
            <div class="icon_material_hard" (click)="openModal('conceitos_base')"></div>
        </div>
        <div class="container_material-textual__secao_hard__right">
            <span>Bora mandar ver na matéria, um pouco de empenho e tudo se resolve.</span>
            <figure>
                <img src="/assets/public/img/material_textual/prof_marcio_3.png" alt="professor Dr. Mardio desenho">
                <figcaption>Imagem do professor Dr. Marcio</figcaption>
            </figure>
        </div>
    </section>
</section>
<app-footer></app-footer>