<app-navbar></app-navbar>
<section class="exercicios_container">
    <section class="exercicios_container__regras">
        <h1>Chegou a hora de testar seu conhecimento.</h1>
        <p>Aqui, a ideia é bem simples: temos uma jornada de perguntas e exercícios, e você só pode avançar para o próximo nível caso tenha alcançado no mínimo 60% em cada etapa. Cada seção vai qualificá-lo em uma parte de Mecânica dos Sólidos. Após concluir o nível, você terá acesso às respostas comentadas de cada item.</p>
        <h3>Agora vamos lá e me mostre que você é fera!</h3>
    </section>
    <section class="exercicios_container__exercicio_m1b1">
        <h4>M1-B1</h4>
        <div class="exercicios_container__exercicio_secao">
            <div class="exercicios_container__exercicio_secao-icon-01">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-01">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-01">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-01">Exercicio - 01</div>
        </div>
    </section>
    <section class="exercicios_container__exercicio_m1b2">
        <h4>M1-B2</h4>
        <div class="exercicios_container__exercicio_secao">
            <div class="exercicios_container__exercicio_secao-icon-02">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-02">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-02">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-02">Exercicio - 01</div>
        </div>
    </section>
    <section class="exercicios_container__exercicio_m2b1">
        <h4>M2-B1</h4>
        <div class="exercicios_container__exercicio_secao">
            <div class="exercicios_container__exercicio_secao-icon-03">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-03">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-03">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-03">Exercicio - 01</div>
        </div>
    </section>
    <section class="exercicios_container__exercicio_m2b2">
        <h4>M2-B1</h4>
        <div class="exercicios_container__exercicio_secao">
            <div class="exercicios_container__exercicio_secao-icon-04">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-04">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-04">Exercicio - 01</div>
            <div class="exercicios_container__exercicio_secao-icon-04">Exercicio - 01</div>
        </div>
    </section>
</section>
<app-footer></app-footer>