<section class="content-modal">
    <header class="modal-header">
        <h2 class="templateConteudo">{{title}}</h2>
        <button mat-button mat-dialog-close class="close-button top-close">
            <span class="close-icon">✖</span>
        </button>
    </header>
    
    <div class="modal-content">
        <h2>{{title}}</h2>
        @for (conteudo of conteudo_Modal; track conteudo.subtitulo){
            <h3>{{conteudo.subtitulo}}</h3>
            <img *ngIf="conteudo.img" [src]="conteudo.img" alt="Imagem de Material Textual" class="img_modal_materialtextual"/>
            <div *ngIf="conteudo.texto" class="texto_p" [innerHTML]="getSanitizedHtml(conteudo.texto)"></div>
            <img *ngIf="conteudo.img_2" [src]="conteudo.img_2" alt="Imagem de Material Textual" class="img_modal_materialtextual"/>
            <div class="btn_modal_download" *ngIf="conteudo.activeBtn === 'flex'">
                <span class="dica_span" *ngIf="conteudo.activeBtn === 'flex'">Clique para baixar o material complementar: </span>
                <button 
                    class="btn_download" 
                    (click)="downloadFile(conteudo.url_file)" 
                    *ngIf="conteudo.activeBtn === 'flex' && conteudo.url_file"
                >Baixar Arquivo
                </button>
            </div>
        }
        
    </div>  
    
    <footer class="modal-footer">
        <button mat-button mat-dialog-close >Fechar</button>
    </footer>
</section>        