/* Estilos para o modal */
.content-modal {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow: hidden;
}

/* Cabeçalho do modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.templateConteudo {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Conteúdo do modal com rolagem */
.modal-content {
    overflow-y: auto;
    max-height: 60vh;
    padding-right: 8px;
}

/* Rodapé do modal */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    border-top: 1px solid #ddd;
}

.pergunta{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.resposta {
    display: none;
    flex-direction: column;
    width: 100%;
    color: #0072E7;
}

.success {
    color: green;
    font-weight: 900;
}

.error{
    color:red;
    font-weight: 900; 
}

.space_answer{
    margin: 1em 1em;
}