<app-navbar></app-navbar>
<section class="galeria_container">
    <div class="galeria_container__title">
        <h1>Nem só de texto viverá o futuro engenheiro</h1>
        <h2>Galeria de videos</h2>
    </div>
    <div class="galeria_container__videos">

    </div>
    <div class="galeria_container__referencias">
        <h3>Referências Bibliográficas</h3>
        <div class="galeria_container__referencias_text">
            <h4>Entendendo a Mecânica dos Sólidos:</h4>
            <p>A Mecânica dos Sólidos é uma área da engenharia que estuda o comportamento de sólidos sob a ação de forças. É fundamental para o projeto de estruturas, máquinas e componentes mecânicos.</p>
            
            <h4>Escolhendo o Livro Certo:</h4>
            <p>Ao escolher um livro de Mecânica dos Sólidos, considere os seguintes fatores:</p>
            <p>* Nível de profundidade: Se você está iniciando seus estudos, procure por livros com uma abordagem mais introdutória. Para aprofundamentos em temas específicos, busque livros mais avançados.</p>
            <p>* Temas abordados: Verifique se o livro cobre os tópicos que você precisa estudar, como tensão, deformação, flexão, torção, etc.</p>
            <p>* Estilo do autor: Alguns autores apresentam o conteúdo de forma mais teórica, enquanto outros utilizam mais exemplos práticos. Escolha um estilo que se adapte à sua forma de aprender.</p>
            <p>* Exercícios: A resolução de exercícios é fundamental para a fixação do conteúdo. Verifique se o livro possui uma boa quantidade de exercícios propostos e resolvidos.</p>
            
            <h4>Sugestões de Livros:</h4>
            <h5>Livros Clássicos:</h5>
            <p>* Timoshenko, S. P. & Gere, J. M. (1993). Mecânica de Sólidos. Vol. 1 e 2. Editora: LTC. Considerado um dos livros mais completos e detalhados sobre o assunto.</p>
            <p>* Hibbeler, R. C. (2004). Resistência de Materiais - 5ª Ed. Pearson Education. Abordagem mais prática, com muitos exemplos e aplicações.</p>
    
            <h5>Livros Modernos:</h5>
            <p>* Gere, J.M. (2003). Mecânica dos Materiais. São Paulo: Pioneira Thomson Learning. Atualização do clássico de Timoshenko e Gere, com uma abordagem mais moderna.</p>
            <p>* Ugural, Ansel C. (2009). Mecânica dos Materiais. LTC. Livro com uma boa cobertura de tópicos avançados, como análise de tensões e deformações.</p>
            
            <h5>Livros com Foco em Aplicações:</h5>
            <p>* Beer, Ferdinand P., Johnston, E. Russell, Jr., & Dewolf, John T. (2004). Resistência dos Materiais - 4ª Ed. Enfoque em aplicações práticas, com muitos exemplos de projetos de engenharia.</p>
            
            <h5>Livros em Português:</h5>
            <p>* Coda, Humberto Breve. Mecânica dos sólidos: volume I. Universidade de São Paulo. Escola de Engenharia de São Carlos, 2017. Livro disponível gratuitamente em formato digital, com uma abordagem clara e objetiva.</p>
    
            <h4>Referências em Química:</h4>
            <p>Para uma compreensão mais aprofundada dos conceitos de química que podem ser aplicados na Mecânica dos Sólidos, considere as seguintes referências:</p>
            <p>* Brown, T. L., LeMay, H. E., Bursten, B. E., Murphy, C. J., & Woodward, P. M. - Química: A Ciência Central. Pearson. Este livro é uma das referências mais abrangentes em química e explora os tipos de ligações, suas características e a estrutura eletrônica dos átomos.</p>
            <p>* Chang, R., & Goldsby, K. - Química Geral. McGraw-Hill. Oferece uma boa introdução às ligações iônicas, covalentes e metálicas, com foco em suas propriedades e exemplos práticos.</p>
            <p>* Atkins, P., & Jones, L. - Princípios de Química: Questionando a Vida Moderna e o Meio Ambiente. Bookman. Aborda ligações químicas em profundidade, incluindo as tendências de eletronegatividade e eletropositividade na tabela periódica.</p>
        </div>
    </div>
    
</section>
<app-footer></app-footer>