<app-navbar></app-navbar>
<section class="home_container">
    
    <h3>Precisa ir bem em Mecânica dos sólidos?</h3>
    <h2>O EstudaKi vai ser seu amigo para mandar bem.</h2>
    <section class="home_container__topicos">
        <a routerLink="/mtexto" routerLinkActive="active" style="background-color: #FC2397;">
            <div>Material Textual</div>
        </a>
        <a routerLink="/exes" routerLinkActive="active" style="background-color: #FFD300;">
            <div style="color: black;">Teste seu conhecimento</div>
        </a>
        <a routerLink="/galeria" routerLinkActive="active" href="" style="background-color: #0072E7;">
            <div>Galeria de videos e referências</div>
        </a>
    </section>
</section>
<section class="home_container__article">
    <article class="home_container__article__left">
        <h2>Quem somos.</h2>
        <div>
            <p>O aplicativo StudaKi foi desenvolvido para ser um aliado indispensável aos estudantes de Mecânica dos Sólidos, facilitando o aprendizado dessa matéria essencial com uma abordagem prática e acessível. A plataforma permite que os alunos revisem conceitos, façam exercícios e se preparem para provas a qualquer momento e em qualquer lugar, eliminando as barreiras tradicionais de estudo. Com recursos interativos, como vídeos explicativos, quizzes e simulações, o StudaKi transforma o aprendizado em uma experiência dinâmica e envolvente. Além disso, ele ajuda a organizar o tempo de estudo, criando um ambiente personalizado que se adapta ao ritmo de cada aluno. Seja para reforçar o conteúdo visto em sala de aula ou para se aprofundar em tópicos específicos, o StudaKi tem o objetivo de garantir que os estudantes alcancem melhores resultados e construam uma base sólida na disciplina, preparando-os para os desafios futuros na engenharia. </p>
        </div>
    </article>
    <aside class="home_container__article__right">
        <section class="video-container">
            <video autoplay loop controls>
                <source src="../../../../public/assets/public/video/video_mec_solidos.mp4" type="video/mp4" class="video_mec">
                Seu navegador não suporta o formato de vídeo .mov.
            </video>
        </section>
    </aside>
    
</section>
<app-footer></app-footer>
